@charset "UTF-8";
@font-face {
    font-family: 'sejong';
    src: url('../../fonts/KingSejongInstitute-Regular.ttf');
}

.price_info {
	display: inline-block; 
}

.roomDetailBox{
	border: 1px solid black;
	background-color: bisque;
	display:inline-block
}

.roomDetailNotice{
	font-size: smaller;
}

.roomDetailChk{
	text-align: center;
}

.roomDetailP{
	margin-bottom: 0px;
}
.R_room{
	width: 120px;
}
.R_room_small{
	width: 80px;
}