@charset "UTF-8";

.container {
	padding: 15%;
}

.form-control {
	 	white-space: pre-line;
        font-family: 'Courier New', monospace;
}

.checkbox-container {
	margin-bottom: 20px;
}

.custom-checkbox {
	margin-top: 10px;
}

.left-btn {
	width: 100px;
	font-family: 'sejong';
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid rgb(224, 162, 86);
	background-color: rgba(0, 0, 0, 0);
	color: rgb(224, 162, 86);
	padding: 5px;
	cursor: pointer;
}

.left-btn:hover {
	color: white;
	background-color: rgb(224, 162, 86);
}