@charset "UTF-8";
body{
    margin: 0px;
}

.main-container{
	width:100%;
	height:100%;
}

.container-center{
	width: 1200px;
	margin: 0 auto;
}

.warpper{
    float: left;
}

.container {
	width: 100%;
	
}

.contents {
    width: 866px;
    margin-left: 280px;
    padding: 0;
    background: #FFF;
    min-height: 440px;
}

.mypage-table{
    width: 100%;
}

.table-title {
    font-size: 24px;
    border-bottom: 3px solid #d04e4eff;
}

.mypage-thead td{
    display: table-cell;
    font-weight: bold;
    color: #666;
    background: #faf9f4;
    border-right: #eceae1 solid 1px;
    border-bottom: #eceae1 solid 1px;
}


.mypage-tbody td{
    display: table-cell;
    font-weight: bold;
    color: #666;
    border-right: #eceae1 solid 1px;
    border-bottom: #eceae1 solid 1px;

}

.tr_info th, .tr_info td{
    border: none;
    padding: 6px 13px;
    text-align: left;
    line-height: 22px;
    border-bottom: #eceae1 solid 1px;
}

.tr_info th {
	display: table-cell;
    font-weight: bold;
    color: #666;
    background: #faf9f4;
}

.memberUpdate-btn{
    text-align: center;
    width: 100px;
    background: rgb(173, 123, 123);
    border-radius: 5px;
}

.MyPage-btn{
    display: inline;
    color: #666;
    text-align: center;
    text-decoration: none;
}

a :hover{
    text-decoration: none;
}