@charset "UTF-8";

.container {
	width: 1200px;
	
}

 .contents {
    float: right;
    width: 866px;
    padding: 0;
    background: #FFF;
    min-height: 440px;
}

.div {
	display:block;
}

.MyPageTitle {
	width: 216px;
    border: #e9dab8 solid 1px;
    background: #f1e3c4;
    padding: 23px;
    margin: 0 0 30px 0;
}

.MyPageTitle_area {
	float : left;
}

<<<<<<< HEAD
/* ul, ol, li, dl, dt, dd {
=======
.mypage_tbody ul, ol, li, dl, dt, dd {
>>>>>>> branch 'master' of https://github.com/sangin525/SemiProject.git
    list-style: none;
    margin: 0;
    padding: 0;
} */

/* li {
    display: list-item;
    text-align: -webkit-match-parent;
} */

/* body, div, p, textarea {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #101010;
} */
/* body, html {
    font-size: 12px;
    font-family: Dotum,'돋움',sans-serif,Arial, Helvetica;
} */

/* ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */


.MyPageTitle li {
    margin: 0 0 26px 0;
}

.MyPageTitle_area .MyPageTitle .menu li.m2 a {
    background-position: 0px -21px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

/* col {
    display: table-column;
} */

.tableTypeA {
    margin: 20px 0px 0px 0px;
    border: none;
    border-top: #cdcbbe solid 1px;
    width: 70%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

th, td {
	padding : 6px;
	border-bottom: #eceae1 solid 1px;
}

th {
	background-color : #cac0a6;
} */

.UpdateBtn {
	width : 100px;
	height : 20px;
	background-color : #302408;
}

.CancelBtn {
	width : 100px;
	height : 20px;
	background-color : #e6e1d5;
}

.BtnForm {
	display : flex;
}
