@charset "UTF-8";

@font-face {
    font-family: 'sejong';
    src: url('../../fonts/KingSejongInstitute-Regular.ttf');
}


.main-container{
	width:100%;
	min-height: 900px;
    font-family: 'sejong';
}

.container-center{
	width: 1200px;
	margin: 0 auto;
}

.warpper{
    float: left;
}

.container {
	width: 100%;
	
}

.contents {
    width: 866px;
    margin-left: 280px;
    padding: 0;
    min-height: 440px;
}

.mypage-table{
    width: 100%;
    text-align: center;
    border-top: rgb(205, 202, 191) solid 2px;
    border-bottom: rgb(205, 202, 191) solid 2px;
}

.table-title {
    font-size: 24px;
    border-bottom: 3px solid black;
}

.mypage-thead td{
    display: table-cell;
    font-weight: bold;
    color: #666;
    background: #eae5cb;
    border-right: #eceae1 solid 1px;
    border-bottom: #eceae1 solid 1px;
}


.mypage-tbody td{
    display: table-cell;
    font-weight: bold;
    color: #666;
    border-right: #eceae1 solid 1px;
    border-bottom: #eceae1 solid 1px;
}

.tr_info th, .tr_info td{
    border: none;
    padding: 6px 13px;
    line-height: 22px;
    border-bottom: #eceae1 solid 1px;
}

.tr_info th {
    width: 20%;
	display: table-cell;
    text-align: center;
    font-weight: bold;
    color: #666;
    background: #eae5cb;
}

.tr_info td{
    text-align: left;

}

.mypage_addr{
	width: 150px;
}
.memberUpdate-btn{
    text-align: center;
    width: 100px;
    background: rgb(173, 123, 123);
    border-radius: 5px;
}


/* .MyPage-btn{
    display: inline;
    color: #666;
    text-align: center;
    text-decoration: none;
} */

.Main_a :hover{
    text-decoration: none;
}

.left-btn{
    width: 150px;
    font-family: 'sejong';
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(224, 162, 86);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(224, 162, 86);
    padding: 5px;
    cursor: pointer;
}

.right-btn{
    width: 150px;
    font-family: 'sejong';
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(224, 162, 86);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(224, 162, 86);
    padding: 5px;
    cursor: pointer;
}

#btn-group button:hover {
    color: white;
    background-color: rgb(224, 162, 86);
}

.pagination{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 2px;
}

.pageNav {
	display: flex;
	justify-content: center;
}

.page-item-active a{
	padding: 4px;
	margin-right:3px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	border:1px solid rgb(224, 162, 86);
	background-color:rgb(224, 162, 86);
}

.page-item a{
	padding: 4px;
	margin-right:3px;
	width: 15px;
	border:1px solid #eee;
	text-decoration: none;
	text-align:center;
	color:  rgb(224, 162, 86);
}


.page-link:hover, .page-link:focus {
	border-radius: 5px;
	color:white;;
	border:1px solid rgb(224, 162, 86);
	background-color:rgb(224, 162, 86);
}

