@charset "UTF-8";

.warpper{
	height: 100%;
    width: 250px;
    position: relative;
}

.wrapper #sidebar{
    position: fixed;
    height: 100%;
    width: 180px;
    background: bisque;
    overflow: hidden;

}

#sidebar .sidebar-title{
    color: #333;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    background: bisque;
    text-align: center;
    margin: 0px;
}

#sidebar .list-items{
    position: relative;
    background: bisque;
    height: 100%;
    width: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#sidebar .list-items li {
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid bisque;
    transition: all 0.3s ease;
}

#sidebar .list-items li:hover{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 10px 3px #222;
}

#sidebar .list-items li a{
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
    width: 100%;
    display: block;
    margin-right: 20px;

}

