@charset "UTF-8";
@font-face {
    font-family: 'sejong';
    src: url('../../fonts/KingSejongInstitute-Regular.ttf');
}
.Main_body {
	font-family: Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #f4f4f4;
	font-family: 'sejong';
}

.Main_header {
	background-color: bisque;
	color: #fff;
	padding: 1em;
	text-align: center;
	display: flex;
	justify-content: space-between; 
}

.Main_section {
   max-width: 800px;
   margin: 20px auto;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.Main_h1{
	padding-top: 20px;
	margin: 0px;
	display: inline-block;
}

.Main_h1 a{
	color: black;
	text-decoration: none;
}

.Signin-signup {
	djustify-content: flex-end; 
	text-align: right;
}


.nav_last {
	display: inline-block;
	margin-right: 0px;
}

.nav_bar {
	display: inline-block;
	margin-right: 150px;
}


.Main_nav {
	width: 100%;
	background-color: bisque;
	position: relative;
	display: flex;
	justify-content: space-around;
}

.Main_nav ul {
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* A태그 스타일링 */
.Main_a {
	color: rgb(210, 98, 98);
	text-decoration: none;
}

a :hover {
	text-decoration: underline;
}

.Main_footer {
	background-color: #333;
	color: #fff;
	padding: 1em;
	text-align: center;
	bottom: 0;
}

.reserveRoom{
	width : 100%;
	display : none;
	background-color: antiquewhite; 
	position : fixed; z-index: 1;
	
}

#reserve {
	cursor: pointer;
}


/* .reserveRoom input{ */
/* 	margin-right: 30px; */
/* } */
.R_room{
	width: 120px;
}
.R_room_small{
	width: 80px;
}





