.boardBody {
	/* common CSS */
	font-family: Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #f4f4f4;
	/* board 추가 body 내용 */
	height: 850px;
}

.boardSection {
	/* common 내용 */
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	/* 추가 내용 */
	height: 60%;
	/* 정렬 */
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ----------------------------table CSS 모음 ----------------------------------*/
.boardTable {
	/* 정렬 */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	/* 크기 */
	width: 80%;
	height: 300px;
	/* box 꾸미기 */
	border: 1px solid black;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	
	
	border-collapse: separate;
    border-spacing: 0 10px; /* 여기서 10px는 간격을 나타냅니다. */
	
}

.boardThead {
	border-bottom: 3px solid black;
	height: 50px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.boardTbody {

	margin-bottom: 10px;
	height: 50px;

}

.BoardTr:hover{
	background-color: #ffc045;
	cursor: pointer;
}

.tdEmpty {
	width: 500px;
	height: 50px;
	font-size: 12px;
	text-align: center;
}

.th1, .td1 {
	/* 게시물 번호 */
	width: 40px;
	font-size: 12px;
	text-align: center;
}

.th2, .td2 {
	/* 제목 */
	width: 250px;
	font-size: 12px;
}

.th3, .td3 {
	/* 작성자 */
	font-size: 12px;
	width: 40px;
	text-align: center;
}

.th4, .td4 {
	/* 작성 날짜 */
	font-size: 12px;
	width: 100px;
	text-align: center;
}

.th5, .td5 {
	/* 작성 날짜 */
	font-size: 12px;
	width: 50px;
	text-align: center;
}

.th6, .td6 {
	/* 작성 날짜 */
	font-size: 12px;
	width: 50px;
	text-align: center;
}

/* -------------------------------- div 모음 -------------------------------- */
.divHead {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.divHead2{
	display:inline-block;
	display:flex;
	justify-content: flex-end;
}

.boardH1 {
	margin: 10px;
	padding: 0;
}

.boardDiv {
	/* boardDetail */
	font-size: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70%;
}

.boardSpan {
	/* boardDetail */
	font-size: 10px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.boardRightDiv {
	/* 우측 정렬 */
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: row;
}

.boardEnroll {
	display: flex;
	flex-direction: column;
	width: 800px;
	height: 210px;
}

/* div 정렬 */
.divCenter {
	display: flex;
	justify-content: center;
	width: 150px;
}

.divRight {
	display: flex;
	justify-content: flex-end;
}

.divCenter2 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 170px;
}

.divComments {
	display: flex;
	flex-direction:row;
	width: 580px;
	height: 50px;
	align-items: center;
	
	margin-bottom: 5px;
}
.answerInput{
	display:none;
}

.divCenter3 {
	width: 560px;
	height: 170px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.divCenter4 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.font14 {
	font-size: 14px;
	margin: 5px;
}

/* ----------------------------BTN 모음 ----------------------------------- */
.boardBtn {
	background-color: #002ead;
	color: white;
	border: none;
	padding: 4px;
	border-radius: 5px;
	margin-bottom: 10px;
}

.modifyBtn {
	font-size: 10px;
	background-color: #002ead;
	color: white;
	border: none;
	width: 50px;
	height: 30px;
	padding: 4px;
	border-radius: 5px;
	margin-right: 110px;
}

.attachmentBtn {
	font-size: 10px;
	background-color: #002ead;
	color: white;
	border: none;
	width: 70px;
	height: 30px;
	padding: 4px;
	border-radius: 5px;
	margin-right: 5px;
}

.Btn2 {
	/* 댓글 작성 버튼 */
	font-size: 10px;
	background-color: #002ead;
	color: white;
	border: none;
	width: 15%;
	height: 41px;
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 15px;
}
/* 팀장님 버튼 가져온 내용 */
/* 공용 버튼 */
.left-btn{
    width: 150px;
    font-family: 'sejong';
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(224, 162, 86);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(224, 162, 86);
    padding: 5px;
    cursor: pointer;
}

.right-btn-board{
    width: 50px;
    font-family: 'sejong';
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(224, 162, 86);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(224, 162, 86);
    padding: 5px;
    cursor: pointer;
}

.right-btn-board:hover  {
    color: white;
    background-color: rgb(224, 162, 86);
}


/* ---------------------input 모음 ---------------------------- */
.titleText {
	width: 70%;
	height: 10%;
	resize: none;
	padding: 10px;
	margin-top: 10px;
	border-radius: 15px;
	border: 2px solid #A1A1A1;
	font-family: 'sejong';
}

.contentText {
	width: 70%;
	margin-top: 20px;
	height: 70%;
	padding: 10px;
	resize: none;
	border-radius: 15px;
	border: 2px solid #A1A1A1;
	font-family: 'sejong';
}

/* 댓글 모음 */
.answerDiv{
	width: 100%;
	height: 150px;
	display:flex;
	justify-content: center;
	flex-direction:column;
	align-items:center;
}
.answerSpan{
	width : 100%;
	height: 20px;
	flex-wrap: wrap;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid black;
	padding-bottom:5px;
	
}
.contentText2 {
	/* 댓글 */
	margin-top: 5px;
	width: 100%;
	padding: 10px;
	resize: none;
	font-size: 12px;
	border-radius: 15px;
	border: 2px solid #A1A1A1;
	font-family: 'sejong';
	overflow:auto;
}

.contentText3 {
	/* 댓글 작성 란 */
	margin-top: 5px;
	width: 100%;
	height: 20px;
	padding: 10px;
	resize: none;
	font-size: 12px;
	border-radius: 15px;
	border: 2px solid #A1A1A1;	
	font-family: 'sejong';
}


.TextArea {
	/* 파일 첨부 정보란 */
	resize: none;
	font-size: 12px;
	width: 170px;
	height: 25px;
	margin-right: 250px;
}

/* Section 우측 상단 정보란 */
.boardText {
	padding-left: 5px;
	padding-right: 5px;
}
/* 댓글 위 상세 정보 모음 */
.answerText{
	width:70px;
	padding-left: 5px;
	padding-right: 15px;
	margin-left: 10px;
	margin: 0;
	font-size:10px;
}
/* 답변 수정, 삭제 버튼 */
.answerTextClick{
	width:70px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
	margin: 0;
	font-size:10px;
	cursor: pointer;
	color: red;
}

/* ---------------------------------------- 게시판 및 공지사항 버튼 CSS ------------------------------- */
.pagination {
	/* ul */
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
}

.paginationLi {
	/* li */
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	width: 15px;
	height: 15px;
	padding: 10px;
	margin: 5px;
}