@charset "UTF-8";

.Main_body {
   font-family: Arial, sans-serif;
   margin: 0px;
   padding: 0px;
   background-color: #f4f4f4;
}

.Main_header {
   background-color: #333;
   color: #fff;
   padding: 1em;
   text-align: center;
}

.Main_section {
   max-width: 800px;
   margin: 20px auto;
   padding: 20px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.Main_h1 {
   padding-top: 20px;
   margin: 0px;
   text-align: center;
}

.Signin-signup {
   text-align: right;
}

.Main_nav ul li {
   display: inline-block;
   margin-right: 10px;
}

.Main_nav {
   background-color: bisque;
   position: relative;
   display: flex;
   justify-content: space-evenly;
}
/* A태그 스타일링 */
.Main_a {
   color: rgb(210, 98, 98);
   text-decoration: none;
}

a :hover {
   text-decoration: underline;
}

.Main_footer {
   background-color: #333;
   color: #fff;
   padding: 1em;
   text-align: center;
   position: fixed;
   bottom: 0;
   width: 100%;
}