@charset "UTF-8";
@font-face {
  font-family: 'sejong';
  src: url('../../fonts/KingSejongInstitute-Regular.ttf');
}
/* 개요 */

.contain {
  position: relative;
  margin-bottom:100px;
}
.contain .container{
  width: 1200px;
  margin: 0 auto;
}

.warpper{
    float: left;
}


/* 가운데 화면 */
.contentss{

	width: 866px;
    margin-left: 280px;
    padding: 0;
    min-height: 440px;
}
.content-box {
  background-color: #f5f5f5; 
  padding: 20px; 
  border: 1px solid #ddd;
}

.pic img {
  max-width: 100%; 
  height: 433px;
  display: block;
  width:866px;
}

.secondtit {
  color: #333; 
  font-size: 30px; 
}

/* 서울호텔 식당 */
.container-table {
  max-width: 100%;
  background-color: #f5f5f5; 
  padding: 20px;
  border: 1px solid #ddd;
}

.tableclass {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 20px;
}

.tableclass th, .tableclass td {
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: center;
  line-height : 30px;
}

.rIntro {
  color: #333;
  text-align: center; 

}


/* 호텔 서비스 */
#contents-webkit-scrollbar {
  display: none;
}

.sname {
  display: flex;
  justify-content: space-around;
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ddd;
}

.sname h4 {
  margin: 0;
}

.sname a {
  	text-decoration: none;
    color: rgb(210, 98, 98);
    position: relative;
}

.sname a:hover {
   color: #dc6b6b;
}


.sname a:after {    
   content: "";
   position: absolute;
   width: 100%;
   height: 3px;
   bottom: -6px;
   left: 0;
   background-color: #dc6b6b;
   visibility: hidden;
   transform: scaleX(0);
   transition: all 0.3s ease-in-out;
}
.sname a:hover:after { 
   visibility: visible;
   transform: scaleX(1);
}

/* 지도 css */
.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 288px;
	height: 132px;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	line-height: 1.5;
}

.wrap * {
	padding: 0;
	margin: 0;
}

.wrap .info {
	width: 286px;
	height: 120px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
}

.info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	overflow: hidden;
}

.info .desc {
	position: relative;
	margin: 13px 0 0 90px;
	height: 75px;
}

.desc .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.desc .jibun {
	font-size: 11px;
	color: #888;
	margin-top: -2px;
}

.info .img {
	position: absolute;
	top: 6px;
	left: 5px;
	width: 73px;
	height: 71px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
	color: #5085BB;
}


